doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Admin Login -- Dailyspot
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap')
  body
    if error && error.length
      .flash.flash-error
        each msg in error
          p= msg
    .auth-page(style='margin-top:80px;')
      h1 Admin Login
      p Dailyspot Admin Panel -- Authorised Access Only
      form.form-card(action='/ds-admin-9x7k/login', method='POST')
        .form-group
          label Email
          input.form-control(type='email', name='email', required, placeholder='admin@dailyspot.com')
        .form-group
          label Password
          input.form-control(type='password', name='password', required, placeholder='Admin password')
        button.btn.btn-green.btn-block(type='submit') Login to Admin
